<!DOCTYPE html>
<html xmlns="http//www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head(titleParam=${title})">
        <title>Agregar usuario</title>
        <meta charset="UTF-8">
    </head>
    
    
    <body>
        <header th:replace="layout :: header"></header>
        
        <section th:replace="layout :: path(pathParam=${path})">
        </section>

        <main role="main" class="container">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <form th:action="@{/usuarios/save}" th:object="${usuario}" method="POST">
                    
                    <div>
                        <label for="habilitar">Habilitar</label>
                        <div>
                            <input type="checkbox" id="habilitar" th:field="*{habilitar}"/>
                        </div>
                    </div>
                    
                    <div>
                        <label>Género</label>
                        <div th:each="genero: ${generoList}">
                            <input type="radio" th:field="*{genero}" th:value="${genero}"/>
                            <label th:for="${#ids.prev('genero')}" th:text="${genero}">option</label>
                        </div>
                        <div th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
                    </div>
                    
                    
                    <div>
                        <label for="pais">País</label>
                        <div>
                            <select id="pais" th:field="*{pais}">
                                <option value="">--Seleccione--</option>
                                <option th:each="pais: ${paisList}" th:text="${pais.nombre}" th:value="${pais.id}"></option>
                            </select>
                        </div>
                        <div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
                    </div>
                    
                    <div>
                        <label>Roles</label>
                        <div th:each="role: ${roleList}">
                            <input type="checkbox" th:field="*{roleList}" th:value="${role.id}">
                            <label th:for="${#ids.prev('roleList')}" th:text="${role.nombre}">
                        </div>
                        <div th:if="${#fields.hasErrors('roleList')}" th:errors="*{roleList}"></div>
                    </div>
                    
                    
                    
                    <div>
                        <div>
                            <input type="submit" value="Envíar"/>
                        </div>
                    </div>
                </form>
            </div>
        </main>   


        <footer th:replace="layout :: footer"></footer>
    </body>
</html>