<!DOCTYPE html>
<html xmlns="http//www.w3.org/1999/xhtml">
    <head th:replace="layout :: head(titleParam=${title})">
        <title>Mostrar información de usuario</title>
        <meta charset="UTF-8">
    </head>
    
    
    <body>
        
        <header th:replace="layout :: header"></header>
        
        <section th:replace="layout :: path(pathParam=${path})"></section>
        
        <div class="container">
            <a th:href="@{/usuarios/new}" class="btn btn-success btn-lg my-3">Volver</a>
            
            <ul class="list-group my-3">
                <li class="list-group-item active">Datos del usuario</li>
                <li th:text="${usuario.nombre}" class="list-group-item"></li>
                <li th:text="${usuario.apellido}"  class="list-group-item"></li>
                <li th:text="${usuario.username}"  class="list-group-item"></li>
                <li th:text="${usuario.password}"  class="list-group-item"></li>
                <li th:text="${usuario.email}"  class="list-group-item"></li>
                <li th:text="${usuario.identificador}"  class="list-group-item"></li>
                <li th:text="${usuario.cuenta}"  class="list-group-item"></li>
                <li th:text="${usuario.pais.id}"  class="list-group-item"></li>
                <li th:text="${usuario.pais.codigo}"  class="list-group-item"></li>
                <li th:text="${usuario.pais.nombre}"  class="list-group-item"></li>
                <li th:text="'Habilitado: ' + ${usuario.habilitar}"  class="list-group-item"></li>
                <li th:text="'Genero: ' + ${usuario.genero}"  class="list-group-item"></li>
                <li th:text="'Valor oculto: ' + ${usuario.valorSecreto}"  class="list-group-item"></li>
            </ul>
            
            <ul class="list-group my-3">
                 <li class="list-group-item active">Roles del usuario</li>
                <li  class="list-group-item" th:each="role: ${usuario.roleList}" th:text="${role.id} + ': ' + ${role.nombre} + ' => ' + ${role.role}"></li>
            </ul>
        </div>
        
        
        
        
         <footer th:replace="layout :: footer"></footer>
    </body>
</html>